.mat-column-nombreMateriaDestino {
    text-align: center;
    overflow: visible;
}

.mat-column-nombreMateria {
    text-align: center;
    overflow: visible;
}

.mat-column-tipoClase {
    text-align: center;
    overflow: visible;
}

.mat-column-fechaCreacion {
    text-align: center;
    overflow: visible;
}

.mat-column-fechaModificacion {
    text-align: center;
    overflow: visible;
}

.mat-header-cell:first-of-type {
    padding: 0;
}

.mat-header-cell {
    font-size: small;
    font-weight: bolder;
    color: #09133f;
}


.mate-cell {
    display: flex;
    place-content: center;
    padding: 0;
    justify-content: center;
}

.mat-cell:first-of-type {
    padding: 0;
}

.mat-header-cell,
.mat-column-roleId,
.mat-column-inscripcionClaseId,
.mat-column-estado,
.mat-column-claseId,
.mat-column-codigoClase,
.mat-column-claseDestino,
.mat-column-tipoClase,
.mat-column-nombreMateria,
.mat-column-nombreMateriaDestino,
.mat-column-fechaCreacion,
.mat-column-fechaModificacion,
.mat-column-sincronizar,
.mat-column-courseOfferingId,
.mat-column-rol,
.mat-column-id,
.mat-column-name,
.mat-column-periodo,
.mat-column-tipo,
.mat-column-accion {
    place-content: center;
    justify-content: center;
}

.mat-column-accion {
    content: "\f2b4";
}

/* Step 1: Common Properties: All required to make icons render reliably */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Step 2: Reference Individual Icons */
.login::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
}

/* Note: Make sure to include the correct weight and unicode value for the icon */
.tps::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    content: "\f1ea";
}

.tabla {
    width: 70%;
    place-self: center;
}
