<form [formGroup]="materialCompuestoForm" (ngSubmit)="onSubmit()">
  <h3>Crear Material Compuesto</h3>
  <div style="display: flex; place-self: center;">
    <div style=" width: 450px;">
      <!-- Campo Nombre -->
      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput id="nombre" formControlName="nombre" placeholder="nombre">
      </mat-form-field>
      
      <!-- Campo Código -->
      <mat-form-field class="example-full-width">
        <mat-label>Código</mat-label>
        <input matInput id="codigo" formControlName="codigo">
      </mat-form-field>
      
      <!-- Campo Descripción -->
      <mat-form-field class="example-full-width">
        <mat-label>Descripción</mat-label>
        <textarea matInput id="descripcion" formControlName="descripcion"></textarea>
      </mat-form-field>
      
      <!-- Campo Unidad de Medida -->
      <mat-form-field class="example-full-width" style="width: 420px;">
        <mat-label>Unidad de Medida</mat-label>
        <mat-select formControlName="unidadMedida" required>
          <mat-option *ngFor="let unidad of unidadesMedida" [value]="unidad">
            {{ unidad }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <!-- Campo Cantidad Total -->
      <mat-form-field class="example-full-width">
        <mat-label>Cantidad Total</mat-label>
        <input matInput type="number" id="cantidad" formControlName="cantidad">
      </mat-form-field>
      
      <!-- Materiales Usados -->
      <div formArrayName="materialesUsados">
        <div *ngFor="let material of materialesUsadosArray.controls; let i = index" [formGroupName]="i">
          <mat-form-field>
            <mat-label>Material</mat-label>
            <mat-select formControlName="material">
              <mat-option *ngFor="let mat of materiales; trackBy: trackById" [value]="mat._id">
                {{ mat.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" formControlName="cantidad">
          </mat-form-field>

          <mat-form-field class="example-full-width" >
            <mat-label>Unidad de Medida</mat-label>
            <mat-select formControlName="unidadMedida" required>
              <mat-option *ngFor="let unidad of unidadesMedida" [value]="unidad">
                {{ unidad }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button type="button" mat-fab aria-label="Eliminar Material" (click)="eliminarMaterial(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>

      <button mat-raised-button type="button" (click)="agregarMaterial()">Agregar Material</button>
    </div>
  </div>
  
  <button mat-flat-button type="submit">Guardar Material Compuesto</button>
</form>
