<aside class="sidebar">
    <div class="logo">
      <span class="logo-text">Stock</span>
    </div>
  
    <ul class="sidebar-links">
      <li (click)="navigateTo('/materiales')">
        <mat-icon>category</mat-icon>
        <span>Materiales</span>
      </li>
      <li (click)="navigateTo('/materiales-compuestos')">
        <mat-icon>science</mat-icon>
        <span>Materiales Comp.</span>
      </li>
      <li (click)="navigateTo('/productos')">
        <mat-icon>inventory_2</mat-icon>
        <span>Productos</span>
      </li>
      <li (click)="navigateTo('/listado')">
        <mat-icon>list</mat-icon>
        <span>Listas</span>
      </li>
      <li (click)="navigateTo('/proveedores')">
        <mat-icon>local_shipping</mat-icon>
        <span>Proveedores</span>
      </li>
      <li (click)="navigateTo('/formula')">
        <mat-icon>calculate</mat-icon>
        <span>Fórmulas</span>
      </li>
      <li (click)="navigateTo('/lista-formulas')">
        <mat-icon>menu_book</mat-icon>
        <span>Lista Fórmulas</span>
      </li>
      <li (click)="navigateTo('/venta')">
        <mat-icon>attach_money</mat-icon>
        <span>Venta</span>
      </li>
      <li (click)="navigateTo('/categoria')">
        <mat-icon>category</mat-icon>
        <span>Categoria</span>
      </li>
    </ul>
  
    <div class="sidebar-footer">
      <app-notifications></app-notifications>
      <a class="logout-btn" (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesión</span>
      </a>
    </div>
  </aside>
  