.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1976d2;
  padding: 10px 20px;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar-links li a:hover {
  color: #90caf9;
}

.logout-btn:hover {
  color: #90caf9;
  cursor: pointer;
}