<nav class="navbar">
  <ul class="navbar-links">
    <li>
      <a (click)="navigateTo('/materiales')">Materiales</a>
    </li>
    <li>
      <a (click)="navigateTo('/materiales-compuestos')">Materiales Compuestos</a>
    </li>
    <li>
      <a (click)="navigateTo('/productos')">Productos</a>
    </li>
    <li>
      <a (click)="navigateTo('/listado')">Lista Materiales / Productos</a>
    </li>
    <li>
      <a (click)="navigateTo('/proveedores')">Proveedores</a>
    </li>
  </ul>
  <a class="logout-btn" (click)="logout()">Cerrar Sesión</a>
</nav>
