<form [formGroup]="productoForm" class="modal-form">
    <h2 class="modal-title">{{ productoForm.value.nombre }}</h2>
  
    <div class="modal-content">
      <p><strong>Unidad de medida:</strong> {{ productoForm.value.unidadMedida }}</p>
  
      <div *ngIf="productoForm.value.materialesUsados.length > 0">
        <h4>Materiales Usados</h4>
        <ul>
          <li *ngFor="let material of productoForm.value.materialesUsados">
            {{ material.nombre }}: {{ material.cantidad }} {{ material.unidadMedida }}
          </li>
        </ul>
      </div>
  
      <div *ngIf="productoForm.value.materialesCompuestosUsados.length > 0">
        <h4>Materiales Compuestos Usados</h4>
        <ul>
          <li *ngFor="let materialCompuesto of productoForm.value.materialesCompuestosUsados">
            {{ materialCompuesto.nombre }}: {{ materialCompuesto.cantidad }} {{ materialCompuesto.unidadMedida }}
          </li>
        </ul>
      </div>
  
      <mat-form-field class="modal-field">
        <mat-label>Cantidad*</mat-label>
        <input matInput formControlName="cantidad" type="number">
      </mat-form-field>
  
      <mat-form-field class="modal-field">
        <mat-label>Código*</mat-label>
        <input matInput formControlName="codigo" type="text">
      </mat-form-field>
  
      <mat-form-field class="modal-field">
        <mat-label>Alerta Stock*</mat-label>
        <input matInput formControlName="alertaStock" type="number">
      </mat-form-field>
    </div>
  
    <div class="modal-actions">
      <!-- <button mat-button color="warn" >Cancelar</button> -->
      <button mat-flat-button color="primary" (click)="crearProducto()" [disabled]="productoForm.invalid">Confirmar</button>
    </div>
  </form>
  