<h4>Materiales</h4>
<app-table class="table" [data]="dataSourceMateriales" [columns]="columnasMateriales" (editRow)="editarMaterial($event)" (deleteRow)="deleteMaterial($event)" (addMaterialRow)="agregarMaterial($event)"></app-table>
<h4>Materiales Compuestos</h4>
<app-table class="table" [data]="dataSourceMaterialesCompuestos" [columns]="columnasMaterialesCompuestos" (editRow)="editarMaterialCompuesto($event)" (deleteRow)="deleteMaterialCompuesto($event)"></app-table>
<h4>Productos</h4>
<app-table class="table" [data]="dataSourceProductos" [columns]="columnasProductos" (editRow)="editarProducto($event)" (deleteRow)="deleteProducto($event)"></app-table>
<h4>Formulas</h4>
<app-table class="table" [data]="dataSourceFormulas" [columns]="columnasFormulas"></app-table>
<h4>Materiales (Tabla Expandible)</h4>
<!-- <app-tabla-expandible [dataSource]="dataSourceMateriales" [columns]="columnasMateriales"></app-tabla-expandible> -->