nav {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #007bff;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .titulo {
    place-self: center;
  }