<form [formGroup]="formulaForm" class="contenido-principal" (ngSubmit)="onSubmit()">
    <h1 class="titulo-seccion">Crear Fórmula</h1>
  
    <mat-tab-group>
      <mat-tab label="Detalles Generales">
        <mat-card class="card-seccion">
          <h3 class="titulo-card">Detalles Generales</h3>
  
          <div class="fila">
            <mat-form-field class="campo">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="nombre">
            </mat-form-field>
  
            <mat-form-field class="campo">
              <mat-label>Unidad de Medida</mat-label>
              <mat-select formControlName="unidadMedida">
                <mat-option *ngFor="let unidad of unidadesMedida" [value]="unidad">{{ unidad }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="fila">
            <mat-form-field class="campo-largo">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="descripcion">
            </mat-form-field>
          </div>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Materiales Usados">
        <mat-card class="card-seccion">
          <h3 class="titulo-card">Agregar Materiales</h3>
  
          <div formArrayName="materialesUsados">
            <div *ngFor="let material of materialesUsados.controls; let i = index" [formGroupName]="i" class="fila-material">
              <mat-form-field class="campo">
                <mat-label>Material</mat-label>
                <mat-select formControlName="material">
                  <mat-option *ngFor="let mat of materiales" [value]="mat._id">{{ mat.nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field class="campo">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad">
              </mat-form-field>
  
              <mat-form-field class="campo">
                <mat-label>Unidad de Medida</mat-label>
                <mat-select formControlName="unidadMedida">
                  <mat-option *ngFor="let unidad of unidadesMedida" [value]="unidad">{{ unidad }}</mat-option>
                </mat-select>
              </mat-form-field>
  
              <button mat-icon-button color="warn" type="button" (click)="eliminarMaterialUsado(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
  
          <div class="acciones-materiales">
            <button mat-stroked-button color="primary" type="button" (click)="agregarMaterialUsado()">
              Agregar Material
            </button>
          </div>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Materiales Compuestos Usados">
        <mat-card class="card-seccion">
          <h3 class="titulo-card">Agregar Materiales Compuestos</h3>
  
          <div formArrayName="materialesCompuestosUsados">
            <div *ngFor="let materialCompuesto of materialesCompuestosUsados.controls; let i = index" [formGroupName]="i" class="fila-material">
              <mat-form-field class="campo">
                <mat-label>Material Compuesto</mat-label>
                <mat-select formControlName="materialCompuesto">
                  <mat-option *ngFor="let matComp of materialesCompuestos" [value]="matComp._id">{{ matComp.nombre }}</mat-option>
                </mat-select>
              </mat-form-field>
  
              <mat-form-field class="campo">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" formControlName="cantidad">
              </mat-form-field>
  
              <mat-form-field class="campo">
                <mat-label>Unidad de Medida</mat-label>
                <mat-select formControlName="unidadMedida">
                  <mat-option *ngFor="let unidad of unidadesMedida" [value]="unidad">{{ unidad }}</mat-option>
                </mat-select>
              </mat-form-field>
  
              <button mat-icon-button color="warn" type="button" (click)="eliminarMaterialCompuestoUsado(i)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
  
          <div class="acciones-materiales">
            <button mat-stroked-button color="primary" type="button" (click)="agregarMaterialCompuestoUsado()">
              Agregar Material Compuesto
            </button>
          </div>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  
    <div class="acciones-finales">
      <button mat-flat-button color="primary" type="submit" [disabled]="formulaForm.invalid">
        Guardar Fórmula
      </button>
    </div>
  </form>
  